### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 0. Preparación de los datos

In [2]:
tienda.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

In [3]:
tienda2.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

In [4]:
tienda3.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

In [5]:
tienda4.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

In [6]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [7]:
tienda.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.878679e+05,26018.609580,3.976685,2.943196,5.365283,-74.789417
std,6.146868e+05,32860.001783,1.415370,2.819897,2.287445,1.217827
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.575000e+04,3100.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.353000e+05,12400.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.781000e+05,36000.000000,5.000000,4.000000,6.251840,-74.081750
max,2.977000e+06,160800.000000,5.000000,24.000000,11.544440,-67.923900

In [8]:
tienda2.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.732274e+05,25216.235693,4.037304,2.902501,5.499753,-74.742963
std,5.955595e+05,31741.375166,1.356153,2.848416,2.351118,1.185997
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.455000e+04,2900.000000,4.000000,1.000000,4.609710,-75.563590
50%,2.182000e+05,11600.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.777000e+05,35450.000000,5.000000,4.000000,6.251840,-74.081750
max,2.953400e+06,162500.000000,5.000000,24.000000,11.544440,-67.923900

In [9]:
tienda3.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.654598e+05,24805.680373,4.048326,2.967783,5.437076,-74.733463
std,5.806434e+05,30945.889626,1.386426,2.812153,2.405272,1.224572
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.740000e+04,3100.000000,4.000000,1.000000,4.609710,-75.563590
50%,2.263000e+05,11900.000000,5.000000,2.000000,4.609710,-74.199040
75%,6.660500e+05,34950.000000,5.000000,4.000000,6.251840,-74.081750
max,2.968200e+06,158400.000000,5.000000,24.000000,11.544440,-67.923900

In [10]:
tienda4.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.358000e+03,2358.000000,2358.000000,2358.000000,2358.000000,2358.000000
mean,4.403629e+05,23459.457167,3.995759,2.896098,5.413519,-74.774597
std,5.687556e+05,30279.100836,1.403063,2.730393,2.376728,1.199749
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.340000e+04,2900.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.094500e+05,10950.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.342250e+05,33300.000000,5.000000,4.000000,6.251840,-74.081750
max,2.902200e+06,154700.000000,5.000000,18.000000,11.544440,-67.923900

# 1. Análisis de facturación

In [11]:
ingresos_tienda = tienda['Precio'].sum()
ingresos_tienda2 = tienda2['Precio'].sum()
ingresos_tienda3 = tienda3['Precio'].sum()
ingresos_tienda4 = tienda4['Precio'].sum()
print(f"Ingresos Tienda 1: ${ingresos_tienda:,.2f}")
print(f"Ingresos Tienda 2: ${ingresos_tienda2:,.2f}")
print(f"Ingresos Tienda 3: ${ingresos_tienda3:,.2f}")
print(f"Ingresos Tienda 4: ${ingresos_tienda4:,.2f}")

Ingresos Tienda 1: $1,150,880,400.00
Ingresos Tienda 2: $1,116,343,500.00
Ingresos Tienda 3: $1,098,019,600.00
Ingresos Tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

In [12]:
tienda['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [13]:
tienda2['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [14]:
tienda3['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [15]:
tienda4['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [16]:
satisfacción_tienda = tienda['Calificación'].mean()
satisfacción_tienda2 = tienda2['Calificación'].mean()
satisfacción_tienda3 = tienda3['Calificación'].mean()
satisfacción_tienda4 = tienda4['Calificación'].mean()
print(f"Satisfacción Tienda 1: {satisfacción_tienda:.2f}")
print(f"Satisfacción Tienda 2: {satisfacción_tienda2:.2f}")
print(f"Satisfacción Tienda 3: {satisfacción_tienda3:.2f}")
print(f"Satisfacción Tienda 4: {satisfacción_tienda4:.2f}")

Satisfacción Tienda 1: 3.98
Satisfacción Tienda 2: 4.04
Satisfacción Tienda 3: 4.05
Satisfacción Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [17]:
ventas_por_producto_tienda = tienda.Producto.value_counts()
ventas_por_producto_tienda2 = tienda2.Producto.value_counts()
ventas_por_producto_tienda3 = tienda3.Producto.value_counts()
ventas_por_producto_tienda4 = tienda4.Producto.value_counts()

In [18]:
print("Productos más vendidos Tienda 1:")
ventas_por_producto_tienda.sort_values(ascending=False).head(10)

Productos más vendidos Tienda 1:

Producto
Microondas                 60
TV LED UHD 4K              60
Armario                    60
Secadora de ropa           58
Mesa de noche              56
Bloques de construcción    56
Balón de baloncesto        55
Bicicleta                  54
Vaso térmico               54
Refrigerador               54
Name: count, dtype: int64

In [19]:
print("Productos menos vendidos Tienda 1:")
ventas_por_producto_tienda.sort_values(ascending=True).head(10)

Productos menos vendidos Tienda 1:

Producto
Auriculares con micrófono      33
Celular ABXY                   33
Olla de presión                35
Pandereta                      36
Mochila                        39
Ciencia de datos con Python    39
Cuerda para saltar             40
Asistente virtual              40
Muñeca bebé                    40
Dinosaurio Rex                 40
Name: count, dtype: int64

In [20]:
print("Productos más vendidos Tienda 2:")
ventas_por_producto_tienda2.sort_values(ascending=False).head(10)

Productos más vendidos Tienda 2:

Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Guitarra acústica            58
Pandereta                    58
Secadora de ropa             57
Iphone 15                    55
Bloques de construcción      54
Armario                      54
Set de ollas                 52
Name: count, dtype: int64

In [21]:
print("Productos menos vendidos Tienda 2:")
ventas_por_producto_tienda2.sort_values(ascending=True).head(10)

Productos menos vendidos Tienda 2:

Producto
Juego de mesa        32
Mesa de comedor      34
Impresora            34
Sillón               35
Auriculares          37
Asistente virtual    38
Cubertería           39
Smart TV             40
Celular ABXY         41
Estufa               42
Name: count, dtype: int64

In [22]:
print("Productos más vendidos Tienda 3:")
ventas_por_producto_tienda3.sort_values(ascending=False).head(10)

Productos más vendidos Tienda 3:

Producto
Kit de bancas                57
Mesa de comedor              56
Cama king                    56
Set de ollas                 55
Mesa de noche                55
Smart TV                     54
Estufa                       53
Cuerda para saltar           53
Modelado predictivo          53
Carrito de control remoto    52
Name: count, dtype: int64

In [23]:
print("Productos menos vendidos Tienda 3:")
ventas_por_producto_tienda3.sort_values(ascending=True).head(10)

Productos menos vendidos Tienda 3:

Producto
Bloques de construcción      35
Microondas                   36
Set de vasos                 36
Mochila                      36
Vaso térmico                 38
Guitarra eléctrica           38
Cubertería                   39
Auriculares con micrófono    39
Asistente virtual            39
Muñeca bebé                  39
Name: count, dtype: int64

In [26]:
print("Productos más vendidos Tienda 4:")
ventas_por_producto_tienda4.sort_values(ascending=False).head(10)

Productos más vendidos Tienda 4:

Producto
Cama box                     62
Cubertería                   59
Dashboards con Power BI      56
Cama king                    56
Carrito de control remoto    55
Mesa de comedor              55
Mesa de noche                55
Smart TV                     54
Bloques de construcción      54
Pandereta                    52
Name: count, dtype: int64

In [27]:
print("Productos menos vendidos Tienda 4:")
ventas_por_producto_tienda4.sort_values(ascending=True).head(10)

Productos menos vendidos Tienda 4:

Producto
Guitarra eléctrica             33
Armario                        34
Guitarra acústica              37
Ciencia de datos con Python    38
Lavadora de ropa               38
Refrigerador                   38
Ajedrez de madera              39
Smartwatch                     39
Celular ABXY                   39
Secadora de ropa               40
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [25]:
tienda1_promedio_envio = tienda['Costo de envío'].mean()
tienda2_promedio_envio = tienda2['Costo de envío'].mean()
tienda3_promedio_envio = tienda3['Costo de envío'].mean()
tienda4_promedio_envio = tienda4['Costo de envío'].mean()
print(f"Promedio Costo de Envío Tienda 1: ${tienda1_promedio_envio:,.2f}")
print(f"Promedio Costo de Envío Tienda 2: ${tienda2_promedio_envio:,.2f}")
print(f"Promedio Costo de Envío Tienda 3: ${tienda3_promedio_envio:,.2f}")
print(f"Promedio Costo de Envío Tienda 4: ${tienda4_promedio_envio:,.2f}")

Promedio Costo de Envío Tienda 1: $26,018.61
Promedio Costo de Envío Tienda 2: $25,216.24
Promedio Costo de Envío Tienda 3: $24,805.68
Promedio Costo de Envío Tienda 4: $23,459.46